@page
@using AmagerminIT.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<User> UserManager

@model AmagerminIT.Pages.Achievements.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "Shared/_Layout";
}

<h1>Achievements</h1>
<p>
    See a list of all the achievements!
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Achievements[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achievements[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Achievements) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @{
                User currentUser = null;
                if (User.Identity.IsAuthenticated)
                {
                    currentUser = await UserManager.GetUserAsync(User);
                }
            }
            @if (currentUser.IsAdmin)
            {
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.AchievementId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.AchievementId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.AchievementId">Delete</a>
                </td>
            }
    </tr>
}
    </tbody>
</table>
